.btnNavUp {
  display: block;
  position: fixed;
  right: 0px;
  top: 85px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4.5px;
  width: 30px;
  height: 30px;
  background-color: #cceaf3;
  border: none;

  transition: all ease-in-out 0.5s;
}

.btnNavUp:hover {
  background-color: #0048ff;
  color: #fff;
}
